body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
.navbar {
  background-color: white;
  color: #280c0c;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;

  @media screen and (max-width: 569px) {
    flex-direction: column;
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
  @media screen and (max-width: 569px) {
    margin: 10px auto;
  }
}

.sort-choices {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  gap: 20px;
  @media screen and (max-width: 569px) {
    flex-direction: column;
    margin: 0 auto;
  }
}

select,
input {
  padding: 6px;
  border: none;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

select {
  background-color: #f8f9fa;
  color: #050c10;
  height: min-content;
}

option {
  font-weight: 500;
  font-size: 20px;
}
#custom-array-section {
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  color: #050c10;
  font-size: 20px;
}

#custom-array {
  box-shadow: 0 0 10px rgba(187, 156, 192, 0.7);

  font-size: 18px;
  width: 140px;
}

#reload-button {
  display: none;
}
.compares-container {
  margin: 10% auto;
}
canvas,
.compares-container {
  margin: 10px 25%;
}

#sort-algorithm,
#speed-options,
#array-options {
  cursor: pointer;
}
.side-panel {
  position: relative;
  display: none;
  left: -50%;
  width: 400px;

  color: #291c1c;
  padding: 2px;
  transition: 1s;
}

.side-panel-button {
  position: relative;
  left: 0%;
}

#toggleBtn,
#closeBtn {
  border: none;
  padding: 8px;
}
#closeBtn {
  display: none;
}

/* window CSS */
.window {
  display: none;
  width: 400px;
  margin: 50px auto;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.window-header {
  background-color: #bb9cc0;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-title {
  font-size: 18px;
}

.window-exit-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.window-exit-btn:hover {
  color: #ecf0f1;
}

.array-values {
  padding: 20px 20px 0;
}
.window-content {
  padding: 0 20px 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #bb9cc0;
  color: white;
}

.sound-on-off {
  position: relative;
  top: 10%;
  left: 5%;
}
