body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.navbar {
  background-color: #ffffff;
  color: #280c0c;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 569px) {
    flex-direction: column;
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
  @media screen and (max-width: 569px) {
    margin: 10px auto;
  }
}

.sort-choices {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  gap: 10px;
  @media screen and (max-width: 569px) {
    flex-direction: column;
    margin: 0 auto;
  }
}

select,
input,
button {
  padding: 8px;
  border: none;
  border-radius: 4px;
}

select {
  background-color: #fff;
  color: #3498db;
}

#custom-array-section {
  display: flex;
  flex-direction: column;
  color: #3498db;
}

#sort-button {
  background-color: #2ecc71;
  color: #fff;
  cursor: pointer;
}

#sort-button:hover {
  background-color: #27ae60;
}
.compares-container {
  margin: 10% auto;
}
canvas,
.compares-container {
  margin: 10px 25%;
}
