body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  margin: 0 80px;
  @media screen and (max-width: 400px) {
    display: none;
  }
}
.smaller-screen-content {
  position: absolute;
  top: 50%;
  left: 5%;
  padding: 10px;

  display: none;
  @media screen and (max-width: 400px) {
    display: block;
  }
}
.navbar {
  background-color: white;
  flex-wrap: wrap;
  color: #280c0c;
  display: flex;
  justify-content: start;
  align-items: center;

  @media screen and (max-width: 569px) {
    flex-direction: column;
  }
}
.sort-choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
  gap: 20px;
  @media screen and (max-width: 569px) {
    flex-direction: column;
    margin: 0 auto;
  }
}
.pathfinder-choices {
  margin-left: 100px;
  display: none;
  justify-content: space-around;
  /* width: 60%; */
  margin-left: 50px;
  gap: 80px;
  @media screen and (max-width: 569px) {
    flex-direction: column;
    margin: 0 auto;
  }
}
select,
input {
  padding: 6px;
  border: none;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

select {
  background-color: #f8f9fa;
  color: #050c10;
  height: min-content;
}

option {
  font-weight: 500;
  font-size: 20px;
}
#custom-array-section {
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  color: #050c10;
  font-size: 20px;
}

#custom-array {
  box-shadow: 0 0 10px rgba(187, 156, 192, 0.7);
  margin-left: 2px;
  font-size: 18px;
  width: 140px;
}

#sort-button,
#reload-button {
  padding-left: 10px;
  cursor: pointer;
}
#reload-button {
  display: none;
}
#sort-button:hover,
#reload-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

#sort-algorithm,
#speed-options,
#array-options {
  cursor: pointer;
}
canvas {
  margin: 10px 10%;
}
.side-panel {
  position: relative;
  display: none;
  left: -50%;
  width: 400px;

  color: #291c1c;
  padding: 1px;
  transition: 1s;
}
.side-panel li {
  margin-bottom: 8px;
}
.side-panel-button {
  display: flex;
  flex-wrap: wrap;
}

#toggle-btn,
#close-btn {
  border-radius: 2px;
  border: none;
}
#close-btn {
  display: none;
}

#compare-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-size: 24px;
  cursor: pointer;
}

#compare-btn:hover {
  /* transform: translateY(-5px); */
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
/* Loading status  */

#loading-wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #999;
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #f00;
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #0f0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #00f;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#loading-content {
  border: 3px solid transparent;
  border-top-color: #4d658d;
  border-bottom-color: #4d658d;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

#loading-content:before {
  border: 3px solid transparent;
  border-top-color: #d4cc6a;
  border-bottom-color: #d4cc6a;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}

#loading-content:after {
  border: 3px solid transparent;
  border-top-color: #84417c;
  border-bottom-color: #84417c;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#content-wrapper {
  color: #fff;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}

#header {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  background-color: #666;
}

#content {
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: #888;
}

/* window CSS */
.window {
  display: none;
  position: absolute;
  top: 10%;
  left: 25%;
  width: 600px;
  margin: 50px auto;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.window-header {
  background-color: #bb9cc0;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-title {
  font-size: 18px;
}

.window-exit-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.window-exit-btn:hover {
  color: #ecf0f1;
}

.array-values {
  padding: 20px 20px 0;
}
.window-content {
  padding: 0 20px 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #bb9cc0;
  color: white;
}

.sound-on-off {
  position: relative;
  cursor: pointer;
  top: 10%;
}

#sound-on-off:hover {
  transform: scale(1.9);
  transition: transform 0.3s ease;
}

/* CSS for Toggle */
.toggle {
  display: flex;
  align-items: center;
}
.toggle p {
  font-size: 20px;
  padding-right: 6px;
  font-weight: 700;
}
#switch-mode-button {
  padding: 2px 8px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 2px;
  border: 2px solid #84417c;
  background-color: white;
}
#switch-mode-button:hover {
  background-color: #84417c;
  color: white;
}

/* CSS from Pathfinder algorithm section */
.pathfinder-section {
  display: none;
}
